*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
*.[Cc]ache
!*.[Cc]ache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
**/[Pp]ackages/*
!**/[Pp]ackages/build/